#root {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

h5,
h6 {
  text-align: center;
}

ol {
  margin: auto;
}

header {
  position: sticky;
}

.row {
  margin: 0;
}

.flex-direction-col {
  flex-direction: column;
}

.margin-auto {
  margin: auto;
}

.text-align-right {
  text-align: right;
}

.page-footer {
  position: relative;
}

/* label focus color */
.input-field.custom input[type="text"]:focus + label {
  color: #4fa5c1;
}

/* label underline focus color */
.input-field.custom input[type="text"]:focus {
  border-bottom: 1px solid #4fa5c1;
  box-shadow: 0 1px 0 0 #4fa5c1;
}

.overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 80%);
  z-index: 2;
}

.custom-modal {
  position: absolute;
  height: 16rem;
  width: 80%;
  top: 15%;
  left: 50%;
  border: 2px solid #4fa5c1;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
}

.confirmation-modal {
  position: absolute;
  height: 10rem;
  width: 80%;
  top: 15%;
  left: 50%;
  border: 2px solid #4fa5c1;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
}

.room-card {
  border: 2px solid #4fa5c1;
}

.flex {
  display: flex;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.padding-lr-1rem {
  padding-left: 1rem;
  padding-right: 1rem;
}

.margin-top-1p25rem {
  margin-top: 1.25rem;
}

.margin-top-3p5rem {
  margin-top: 3.5rem;
}

.margin-right-1rem {
  margin-right: 1rem;
}

.absolute.center {
  left: 50%;
  transform: translateX(-50%);
}

.bottom-1rem {
  bottom: 1.5rem;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.height-4rem {
  height: 4rem;
}

.width-80-percent {
  width: 80%;
}

.height-2p5rem {
  height: 2.5rem;
}

.red-text-only {
  color: red;
}

.fountain-blue {
  color: #4fa5c1;
}

.bright-gray {
  color: #36374a;
}

.bg-columbia-blue {
  background-color: #c0d8e0;
}

.bg-fountain-blue {
  background-color: #4fa5c1;
}

.bg-tea-green {
  background-color: #d4eac8;
}

.bg-light-gray {
  background-color: #f0f0f0;
}

.brand-logo.bright-gray {
  color: #36374a;
}

.btn {
  color: #36374a;
}

.btn-floating.btn-large.waves-effect.waves-light.custom {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4fa5c1;
}

.btn-floating.btn-large.waves-effect.waves-light.custom:hover {
  background-color: #3ca8cc;
}

.btn.custom.bg-columbia-blue:hover {
  background-color: #a2daec;
  cursor: pointer;
}

.btn.bg-tea-green.custom:hover {
  background-color: #b0e991;
  cursor: pointer;
}

.btn.bg-tea-green.custom:focus {
  background-color: #d4eac8;
}

.btn.custom.bg-columbia-blue:focus {
  background-color: #c0d8e0;
}

button,
i.edit-icon,
i.delete-icon {
  cursor: pointer;
}

.lds-circle {
  display: inline-block;
  transform: translateZ(1px);
}

.lds-circle > div {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 8px;
  border-radius: 50%;
  background: #cef;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes lds-circle {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }

  0% {
    transform: rotateY(0deg);
  }

  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }

  100% {
    transform: rotateY(3600deg);
  }
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 768px) {
  .custom-modal {
    max-width: 65rem;
  }

  .confirmation-modal {
    max-width: 40rem;
  }

  .width-100-percent-dt {
    width: 100%;
  }

  .width-50-percent-dt {
    width: 50%;
  }
}
